:root {
    --main-color: #2F303A;
    --accent-color: #2196F3;
    --paragraph-color: #757575;
    --team-background-color: #F5F4FA;
    --main-font: 'Raleway', serif;
    --secondary-font: "Roboto Flex",sans-serif;
}

#header h3 {
    font-family: var(--main-font);
}

#header li {
    display: inline;
}

#header li a {
    font-family: var(--secondary-font);
}

a.liheroo:hover {
    color: var(--accent-color, #2196F3);

}

a.lihero:hover {
    color: var(--accent-color, #2196F3);
}

a.liheroo,
a.lihero {
    color: black;
    text-decoration: none;
}

a.liheroo {
    padding: 80px;
}

a.lihero {
    margin-left: 150px;
}

#hero {
    background-color: var(--main-color, #2F303A);
    width: 1450px;
    height: 500px;
}

#hero h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: var(--secondary-font);
    padding-top: 70px;
}

.container {
    text-align: center;
}

#hero button {
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

#hero button:hover {
    background-color: var(--paragraph-color);
    font-size: larger;
    transition: font-size 0.6s ease;
}


#main ul {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font);
    text-decoration: none;
    list-style: none;
}

.mainul p:hover {
    font-size: 20px;
}

#submain h2 {
    text-align: center;
    font-size: 34px;
    font-family: var(--secondary-font);
}

#main p {
    color: var(--paragraph-color, #757575);
    transition: font-size 0.3s ease;
}


#submain img {
    margin: 55px;
}

#team h2 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 34px;
}

#team {
    background: var(--team-background-color);
}

#team ul {
    display: flex;
    align-items: center;
    margin: 30px;
    list-style: none;
    font-family: var(--secondary-font)
}

#team h5 {
    font-family: var(--secondary-font)
}

#team p {
    font-family: var(--secondary-font);
    color: var(var(--paragraph-color))
}

.li1 {
    padding: 30px;
}

.li2 {
    padding: 30px;
}

.li3 {
    padding: 30px;
}

.li4 {
    padding: 30px;
}
#footer {
    background-color: var(--main-color);
}

#footer h3 {
    font-family: var(--main-font)
}
#footer p {
    color: white;
}
.lihero-footer {
    color: var(--paragraph-color);
    text-decoration: none;
}
.lihero-footer:hover {
    color: var(--accent-color);
}


#footer .ulhero-footer {
    list-style-type: none;
}
