 :root {
    --main-color: #2F303A;
    --accent-color: #2196F3;
    --paragraph-color: #757575;
    --team-background-color: #F5F4FA;
    --team-h4-color: #212121;
    --main-font: 'Raleway', serif;
    --secondary-font: "Roboto Flex",sans-serif;
}
.container {
    width: 1600px;
    height: 2346px;
    margin-right: 215px; 
    margin-left: 215px; 
}
.header h3 {
    font-family: var(--main-font);
    display: flex;
}
.header ul{
    font-family: var(--secondary-font);
    display: flex;
}
.header li {
    list-style-type: none;
}
.header li a {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s ease;
}
.header li a:hover {
    color: var(--accent-color);
}
.hero {
    width: auto;
    height: 600px;
    background-color: var(--main-color);
}
.hero h1 {
    font-family: var(--secondary-font);
    color: var(--team-background-color);
    line-height: 60px;
    letter-spacing: 6%;
    font-size: 44px;
    text-align: center;
}
.hero button {
    color: var(--team-background-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    width: 216px;
    height: 50px;
    font-family: var(--secondary-font);
    transition: 0.5s ease;
    font-family: var(--secondary-font);
    display: flex;
}
.hero button:hover {
    background-color: var(--paragraph-color);
}
.main-li {
    list-style-type: none;
}
.main-li1 {
    display: flex;
}
.main-h4 {
    font-family: var(--secondary-font);
    line-height: auto;
    letter-spacing: 3%;
    font-size: 14px;
    color: var(--team-h4-color);
    display: flex;
}
.main-p {
    width: 270px;
    height: 72px;
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: var(--paragraph-color);
    display: flex;

}
.submain h2 {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 36px;
    line-height: auto;
    letter-spacing: 3%;
    color: var(--team-h4-color);
    display: flex;
    justify-content: center;
}
.submain img {
    width: 370px;
    height: 294px;
    display: flex;
    flex-direction: row;
}
.team {
    background-color: var(--team-background-color);
    height: 648px;
}
.team h2 {
    font-family: var(--secondary-font);
    text-align: center;
    letter-spacing: 3%;
    line-height: auto;
    color: var(--team-h4-color);
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.team ul {
    display: flex;
    list-style-type: none;
    display: flex;
}
.team img {
    width: 270px;
    height: 260px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team .team-img1 {
    margin-right: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .team-img2 {
    margin-right: 30px;
}
.team .team-img3 {
    margin-right: 30px;
}
.team-names {
    font-family: var(--secondary-font);
    letter-spacing: 3%;
    line-height: auto;
    font-size: 16px;
    color: var(--team-h4-color);
    display: flex;
}
.team-roles {
    font-family: var(--secondary-font);
    letter-spacing: 3%;
    line-height: auto;
    font-size: 16px;
    color: var(--paragraph-color);
    display: flex;
}
.footer ul {
    list-style-type: none;
    display: flex;
}
.footer h3 {
    font-family: var(--main-font);
    display: flex;
}
.footer p {
    font-family: var(--secondary-font);
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--team-h4-color);
}
.footer a {
    font-family: var(--secondary-font);
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--paragraph-color);
    text-decoration: none;
}
.footer a:hover {
    color: var(--accent-color);
}
/* #header h3 { 
    font-family: var(--main-font);
}

#header li {
    display: inline;
}

#header li a {
    font-family: var(--secondary-font);
}

a.liheroo:hover {
    color: var(--accent-color, #2196F3);

}

.container {
    width: 1715px;
}

a.lihero:hover {
    color: var(--accent-color, #2196F3);
}

a.liheroo,
a.lihero {
    color: black;
    text-decoration: none;
}

a.liheroo {
    padding: 80px;
}

a.lihero {
    margin-left: 150px;
}

#hero {
    background-color: var(--main-color, #2F303A);
    width: 1450px;
    height: 500px;
}

#hero h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: var(--secondary-font);
    padding-top: 70px;
}

/* .container {
    width: 1600px;
    height: auto;
    margin-left: 50px;
} */

/* #hero button {
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
    font-family: var(--secondary-font);
}

#hero button:hover {
    background-color: var(--paragraph-color);
    font-size: larger;
    transition: font-size 0.6s ease;
}


#main ul {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font);
    text-decoration: none;
    list-style: none;
}

.mainul p:hover {
    font-size: 20px;
}

#submain h2 {
    text-align: center;
    font-size: 34px;
    font-family: var(--secondary-font);
}

#main p {
    color: var(--paragraph-color, #757575);
    transition: font-size 0.3s ease;
}


#submain img {
    margin: 55px;
}

#team h2 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 34px;
}

#team {
    background: var(--team-background-color);
    background-clip: content-box;
    margin-bottom: 0px;
}

#team ul {
    display: flex;
    align-items: center;
    margin: 30px;
    list-style: none;
    font-family: var(--secondary-font)
}

.team-names {
    font-family: var(--secondary-font)
}

.team-roles {
    font-family: var(--secondary-font);
    color: var(var(--paragraph-color))
}

.li-team1 {
    padding: 30px;
}

.li-team2 {
    padding: 30px;
}

.li-team3 {
    padding: 30px;
} */

/* .li-team4 {
    padding: 30px;
}
#footer {
    background-color: var(--main-color);
    background-clip: content-box;
    height: 200px;
}

#footer h3 {
    font-family: var(--main-font);
    margin-left: 40px;
    margin-top: 0px;
}
#footer p {
    color: white;
    margin-left: 40px;
}
.lihero-footer {
    color: var(--paragraph-color);
    text-decoration: none;
}
.lihero-footer:hover {
    color: var(--accent-color);
}


#footer .ulhero-footer {
    list-style-type: none;
}  */